@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);

  --font-sans: var(--font-outfit);
}

:root {
  --background: #ffffff;
  --foreground: #18181b;
  /* Zinc 950 */

  --primary: #18181b;
  /* Zinc 950 */
  --primary-foreground: #ffffff;

  --secondary: #f4f4f5;
  /* Zinc 100 */
  --secondary-foreground: #18181b;

  --muted: #fafafa;
  --muted-foreground: #71717a;
  /* Zinc 500 */

  --accent: #f4f4f5;
  --accent-foreground: #18181b;

  --card: #ffffff;
  --card-foreground: #18181b;

  --border: #e4e4e7;
  /* Zinc 200 */
}

body {
  background: var(--background);
  color: var(--foreground);
}